body {
    background-color: rgba(245, 245, 245, 0.386);
    color: rgb(11, 7, 1);
    line-height: 1.6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}


header {
    background-color: rgba(47, 81, 167, 0.484);
    color: rgb(241, 240, 243);
    padding: 20px;
}


header > img {
    border-radius: 50%;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 20px 0 0;
}


nav a {
    color: rgb(241, 240, 243);
    text-decoration: none;
    display: inline-block;
    padding: 12px 18px;
    margin: 5px;
    font-size: 18px;
    background-color: rgb(47, 81, 167);
    border-radius: 5px;
}


nav a:hover {
    color: white;
    background-color: brown;
}


h1,
h2 {
    color: rgb(47, 81, 167);
}


h1 {
    border-bottom: 2px solid brown;
    width: fit-content;
    padding-bottom: 5px;
    font-size: 2rem;
}


main {
    margin: 2rem;
    padding: 1rem;
    max-width: 1100px;
}


section {
    background-color: cyan;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(47, 81, 167, 0.484);
}


article {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}


input,
textarea {
    max-width: 100%;
    padding: 8px;
    box-sizing: border-box;
}


button {
    padding: 10px 20px;
    cursor: pointer;
}


table {
    border-collapse: collapse;
    width: 100%;
}


th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}


footer {
    background-color: rgba(47, 81, 167, 0.484);
    color: white;
    text-align: center;
    padding: 15px;
}


@media (max-width: 600px) {

    nav ul {
        flex-direction: column;
        gap: 10px;
    }


    nav a {
        display: block;
        padding: 12px;
    }


    main {
        margin: 1rem;
        padding: 0.5rem;
    }


    section {
        padding: 15px;
    }


    article {
        padding: 15px;
    }


    table {
        font-size: 14px;
    }

}